page-map {
  .active-box {
    background-color: green;
  }

  .requested-box {
    background-color: orange;
  }

  .coworking-box {
    background-color: blue;
  }

  .anexed-box {
    background-color: purple;
  }

  .text-white {
    color: white;
  }

  .no-padding {
    padding: 0;
  }

  .doble-sprout {
    height: 51px;
  }
}
