<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Ingresos-egresos</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <img class="headerContents" alt="logo" src="./assets/imgs/logo.png">
  <h1 class="headerContents">{{ month }}</h1>
  <table class="shortTable floatRight">
    <tr>
      <td><strong>Saldo inicial de {{ month }}</strong></td>
      <td>$10000</td>
    </tr>
    <tr>
      <td><strong>Total de Ingresos</strong></td>
      <td>${{ incomeTotal }}</td>
    </tr>
    <tr>
      <td><strong>Total de egresos</strong></td>
      <td>${{ expensesTotal }}</td>
    </tr>
    <tr>
      <td><strong>Saldo del mes</strong></td>
      <td>${{ (10000 + incomeTotal) - expensesTotal }}</td>
    </tr>

  </table>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <!--TABLA INGRESOS-->
  <table>
  	<tr class="headerTable">
  		<th colspan="100%">Ingresos</th>
  	</tr>
  	<tr>
  		<th>Fecha</th>
  		<th>Descripcción</th>
  		<th>Recibo</th>
  		<th>Total</th>
  		<th>Rubro</th>
        <th>Box</th>
  		<th>Tipo de pago</th>
  		<th>Opciones</th>
  	</tr>
  	<tr *ngFor="let entry of income | async">
  		<td>{{ entry.date }}</td>
  		<td>{{ entry.description }}</td>
  		<td>{{ entry.whoGet }}</td>
  		<td>$ {{ entry.total}}</td>
  		<td>{{ entry.type }}</td>
  		<td>{{ entry.box }}</td>
      <td>{{ entry.typePay }}</td>
  		<td>
        <button title="Editar" ion-button icon-only clear color="update" (click)="initModalIncome(0, entry)">
          <ion-icon ios="ios-create" md="md-create"></ion-icon>
        </button>
        <button title="Eliminar" ion-button icon-only clear color="danger" data-target="#deleteIncomeModal"
                data-toggle="modal" (click)="entryToDelete = entry">
          <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
        </button>
      </td>
  	</tr>
  </table>

  <ion-buttons end>
    <button color="create" ion-button icon-right (click)="initModalIncome(1)">
      Nueva Fila<ion-icon ios="ios-add-circle" md="md-add-circle"></ion-icon>
    </button>
  </ion-buttons>
  <br>
  <br>
  <!--TABLA EGRESOS-->
  <table>
  	<tr class="headerTable">
  		<th colspan="100%">Egresos</th>
  	</tr>
  	<tr>
  		<th>Fecha</th>
  		<th>Descripcción</th>
  		<th>Proveedor</th>
  		<th>Total</th>
        <th>Rubro</th>
  		<th>Tipo de pago</th>
  		<th>Opciones</th>
  	</tr>
  	<tr *ngFor="let egress of expenses | async">
  		<td>{{ egress.date }}</td>
  		<td>{{ egress.description }}</td>
  		<td>{{ egress.provider }}</td>
  		<td>$ {{ egress.amount }}</td>
      <td>{{ egress.item }}</td>
  		<td>{{ egress.typePay }}</td>
  		<td>
        <button title="Editar" ion-button icon-only clear color="update" (click)="initModalExpenses(0, egress)">
          <ion-icon ios="ios-create" md="md-create"></ion-icon>
        </button>
        <button title="Eliminar" ion-button icon-only clear color="danger" data-target="#deleteEgressModal"
                data-toggle="modal" (click)="egressToDelete = egress">
          <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
        </button>
      </td>
  	</tr>
  </table>

  <ion-buttons end>
    <button color="create" ion-button icon-right (click)="initModalExpenses(1)">
      Nueva Fila<ion-icon ios="ios-add-circle" md="md-add-circle"></ion-icon>
    </button>
  </ion-buttons>

  <!--Modal of new Delete (Borrar fila)-->
  <div class="modal fade" id="deleteIncomeModal" tabindex="-1" role="dialog"  aria-hidden="true" >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
         <h5 class="modal-title" >Eliminar Ingreso</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">Estas seguro que desea eliminar el ingreso?</div>
        <div class="modal-footer">
          <button class="blackText" data-dismiss="modal" ion-button color="create">Cancelar</button>
          <button class="blackText" data-dismiss="modal" ion-button color="create" (click)="deleteEntry()">Eliminar</button>
        </div>
      </div>
    </div>
  </div>

  <!--Modal of new Delete (Borrar fila)-->
  <div class="modal fade" id="deleteEgressModal" tabindex="-1" role="dialog"  aria-hidden="true" >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
         <h5 class="modal-title" >Eliminar Egreso</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">Estas seguro que desea eliminar el egreso?</div>
        <div class="modal-footer">
          <button class="blackText" data-dismiss="modal" ion-button color="create">Cancelar</button>
          <button class="blackText" data-dismiss="modal" ion-button color="create" (click)="deleteEgress()">Eliminar</button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
