<ion-header>
  <ion-navbar>
  	<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Cuentas por cobrar</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1>Tabla principal del mes</h1>
  <br/>
  <br/>
  <table>
    <tr id="headerTable">
      <th colspan="100%">Cuentas por Cobrar</th>
    </tr>
    <tr>
      <th>Box</th>
      <th>Status</th>
      <th>Tipo de Box</th>
      <th>Inquilino</th>
      <th>Monto</th>
      <th>Día de pago</th>
      <th>Tipo de pago</th>
      <th>Pagado</th>
      <th colspan="100%"></th>
    </tr>
    <tr *ngFor="let accountReceivable of accountsReceivable | async">
      <td>{{ accountReceivable.box.id }}</td>
      <td>{{ accountReceivable.box.status.name }}</td>
      <td>{{ accountReceivable.box.type.name }}</td>
      <td><div *ngIf="accountReceivable.tenant">
        {{ accountReceivable.tenant.name }} {{ accountReceivable.tenant.lastname }}
      </div></td>
      <td>{{ accountReceivable.amount }}</td>
      <td>{{ accountReceivable.payDay }}</td>
      <td><div *ngIf="accountReceivable.type">{{ accountReceivable.type.name }}</div></td>
      <td><ion-toggle [(ngModel)]="accountReceivable.paymentMade" (ionChange)="updatePay(accountReceivable)"></ion-toggle></td>
      <td>
        <button color="update" ion-button icon-only icon-left data-toggle="modal" data-target="#updateEntryModal">
          <ion-icon ios="ios-create" md="md-create"></ion-icon>
        </button>
      </td>
      <td><button color="danger" ion-button icon-only icon-left  data-toggle="modal" data-target="#deleteEntryModal" (click)="accountReceivableToDelete = accountReceivable">
        <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
      </button></td>
    </tr>
  </table>
  <br/>
  <br/>
  <ion-buttons end>
    <button color = "create" ion-button icon-right item-right data-toggle="modal" data-target="#newEntryModal" (click)="service={}">
      Nuevo<ion-icon ios="ios-add-circle" md="md-add-circle"></ion-icon>
    </button>
  </ion-buttons>

  <!--MODALS FOR BUTTONS-->
  <!--Modal of 'generic Modal'-->
  <div class="modal fade" id="newEntryModal" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Ingreso de cuenta nueva</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <ion-item>
            <ion-label>No. de Box</ion-label>
            <ion-select [(ngModel)]="service.box" interface="popover">
              <ion-option *ngFor="let box of boxes | async" [value]="box">{{ box.id }}</ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label>Estatus</ion-label>
            <ion-select [(ngModel)]="service.statusBox" interface="popover">
              <ion-option *ngFor="let status of statusBoxes | async" [value]="status">{{ status.name }}</ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label>Tipo de box</ion-label>
            <ion-select [(ngModel)]="service.typeBox" interface="popover">
              <ion-option *ngFor="let type of typeBoxes | async" [value]="type">{{ type.name }}</ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label>Inquilino</ion-label>
            <ion-input type="text" placeholder="Nombre(s)" [(ngModel)]="service.nameTenant"></ion-input>
            <ion-input type="text" placeholder="Apellidos" [(ngModel)]="service.lastnameTenant"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Monto</ion-label>
            <ion-input type="text" [(ngModel)]="service.amount"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Día de pago</ion-label>
            <ion-input type="text" [(ngModel)]="service.payDay"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Efectivo/Transferencia</ion-label>
            <ion-select [(ngModel)]="service.typePay" interface="popover">
              <ion-option *ngFor="let type of typePay | async" [value]="type">{{ type.name }}</ion-option>
            </ion-select>
          </ion-item>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary" (click)="createNewEntry()" data-dismiss="modal">Guardar</button>
        </div>
      </div>
    </div>
  </div>

  <!--'Generic Modal' END-->
  <!--Modal of 'Delete Entry'-->
  <div class="modal fade" id="deleteEntryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Eliminar cuenta</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ¿Estas seguro de que quieres eliminar esta cuenta por cobrar?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deleteEntry()">Eliminar</button>
        </div>
      </div>
    </div>
  </div>
  <!--'Delete Entry' END-->
</ion-content>
