<ion-header>
  <ion-navbar>
  	<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Cuentas por cobrar</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <img alt="logo" class="headerContents" src="./assets/imgs/logo.png">
  <h1 class="headerContents">Tabla principal del mes de {{ month }}</h1>
  <table>
    <tr class="headerTable">
      <th colspan="100%">Cuentas por Cobrar</th>
    </tr>
    <tr>
      <th>Box</th>
      <th>Status</th>
      <th>Tipo de Box</th>
      <th>Inquilino</th>
      <th>Monto</th>
      <th>Día de pago</th>
      <th>Tipo de pago</th>
      <th>Pagado</th>
      <th>Opciones</th>
    </tr>
    <tr *ngFor="let accountReceivable of accountsReceivable | async">
      <td>{{ accountReceivable.box.id }}</td>
      <td>{{ accountReceivable.box.status.name }}</td>
      <td>{{ accountReceivable.box.type.name }}</td>
      <td><div *ngIf="accountReceivable.tenant">
        {{ accountReceivable.tenant.name }} {{ accountReceivable.tenant.lastname }}
      </div></td>
      <td> $ {{ accountReceivable.amount }}</td>
      <td>{{ accountReceivable.payDay }}</td>
      <td><div *ngIf="accountReceivable.type">{{ accountReceivable.type.name }}</div></td>
      <td><ion-toggle [(ngModel)]="accountReceivable.paymentMade" (ionChange)="updatePay(accountReceivable)"></ion-toggle></td>
      <td>
        <button ion-button icon-only clear color="update" (click)="initModal(0, accountReceivable)">
          <ion-icon ios="ios-create" md="md-create"></ion-icon>
        </button>
        <button ion-button icon-only clear color="danger" data-toggle="modal"
                data-target="#deleteEntryModal" (click)="accountReceivableToDelete = accountReceivable">
          <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
        </button>
      </td>
    </tr>
  </table>
  <br/>
  <br/>
  <ion-buttons end>
    <button color="create" ion-button icon-right (click)="initModal(1)">
      Nuevo Registro<ion-icon ios="ios-add-circle" md="md-add-circle"></ion-icon>
    </button>
  </ion-buttons>
  <table class="shortTable">
    <tr>
      <td><strong>No. de boxes activos</strong></td>
      <td>{{activeBoxes}}</td>
    </tr>
    <tr>
      <td><strong>No de boxes apartados</strong></td>
      <td>{{takenBoxes}}</td>
    </tr>
    <tr>
      <td><strong>No de boxes en coworking</strong></td>
      <td>{{coworkingBoxes}}</td>
    </tr>
    <tr>
      <td><strong>No de boxes virtuales</strong></td>
      <td>{{virtualBoxes}}</td>
    </tr>
    <tr>
      <td><strong>Suma</strong></td>
      <td>{{activeBoxes + takenBoxes}}</td>
    </tr>
    <tr>
      <td><strong>No. de boxes disponibles</strong></td>
      <td>{{freeBoxes}}</td>
    </tr>

  </table>
  <table class="shortTable">
    <tr>
      <td><strong>Total: </strong></td>
      <td> ${{amount}}</td>
    </tr>
    <tr>
      <td><strong>Total Cobrado: </strong></td>
      <td> $</td>
    </tr>
    <tr>
      <td><strong>Total por Cobrar: </strong></td>
      <td> $</td>
    </tr>
  </table>

  <!--Modal of 'Delete Entry'-->
  <div class="modal fade" id="deleteEntryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Eliminar cuenta</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ¿Estas seguro de que quieres eliminar esta cuenta por cobrar?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deleteEntry()">Eliminar</button>
        </div>
      </div>
    </div>
  </div>
  <!--'Delete Entry' END-->
</ion-content>
