<ion-header>
  <ion-navbar>
  	<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Cuentas por cobrar</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1>Tabla principal del mes</h1>
  <br/>
  <br/>
  <table>
    <tr id="headerTable">
      <th colspan="100%">Cuentas por Cobrar</th>
    </tr>
    <tr>
      <th>Box</th>
      <th>Status</th>
      <th>Tipo de Box</th>
      <th>Inquilino</th>
      <th>Monto</th>
      <th>Día de pago</th>
      <th>Tipo de pago</th>
      <th>Pagado</th>
      <th colspan="100%"></th>
    </tr>
    <tr>
      <td>1</td>
      <td>activo</td>
      <td>Fruit box</td>
      <td>Jacob Tafolla</td>
      <td>4000 </td>
      <td>16</td>
      <td>efectivo</td>
      <td><ion-toggle ></ion-toggle></td>
      <td>
        <button color="update" ion-button icon-left item-left data-toggle="modal" data-target="#updateEntryModal">
          <ion-icon ios="ios-create" md="md-create"></ion-icon>Editar
        </button>
      </td>
      <td><button color="retrieve" ion-button icon-left item-left><ion-icon ios="ios-clipboard" md="md-clipboard"></ion-icon>Detalles</button></td>
      <td><button  color="danger" ion-button icon-left item-left data-toggle="modal" data-target="#deleteEntryModal"><ion-icon ios="ios-trash" md="md-trash"></ion-icon>Eliminar</button></td>
    </tr>
  </table>
  <br/>
  <br/>
  <ion-buttons end>
    <button color = "create" ion-button icon-right item-right data-toggle="modal" data-target="#newEntryModal">
      Nuevo<ion-icon ios="ios-add-circle" md="md-add-circle"></ion-icon>
    </button>
  </ion-buttons>

  <!--MODALS FOR BUTTONS-->
  <!--Modal of 'generic Modal'-->
  <div class="modal fade" id="newEntryModal" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Ingreso de cuenta nueva</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">No. de Box</label>
              <select class="custom-select" [(ngModel)]="service.box" name="boxSelect">
                <option *ngFor="let box of boxes | async" value="{{ box }}">{{ box.id }}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Estatus</label>
              <select class="custom-select" [(ngModel)]="service.statusBox" name="statusSelect">
                <option *ngFor="let status of statusBoxes | async" value="{{ status }}">{{ status.type }}</option>
              </select>
            </div>
            <div>
              <label for="recipient-name" class="col-form-label">Tipo de box</label>
              <select class="custom-select" [(ngModel)]="service.typeBox" name="typoSelect">
                <option *ngFor="let type of typeBoxes | async" value="{{ type }}">{{ type.nombre }}</option>
              </select>
            </div>
            <div class="form-row">
              <div class="col">
                <label for="nombreInquilino" class="col-form-label" text-align="center">Inquilino</label>
              </div>
              <div class="col">
                <label for="recipient-name" class="col-form-label"></label>
                <input type="text" class="form-control" placeholder="Nombre" [(ngModel)]="service.nameInquilino" name="nombreInput">
              </div>
              <div class="col">
                <label for="recipient-name" class="col-form-label"></label>
                <input type="text" class="form-control" placeholder="Apellido" [(ngModel)]="service.lastNameInquilino" name="apellidoInput">
              </div>
            </div>
            <div class="input-group mb-3">
              <label for="recipient-name" class="col-form-label" text-align="center">Monto</label>
              <div class="col">
                <input type="text" class="form-control" placeholder="Cantidad" [(ngModel)]="service.amount" name="cantidadInput">
              </div>
            </div>
            <div class="input-group mb-3">
              <label for="recipient-name" class="col-form-label" text-align="center">Día de pago</label>
              <div class="col">
                <input type="number" class="form-control" [(ngModel)]="service.payDay" name="diaInput">
              </div>
            </div>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Efectivo/Transferencia</label>
              <select class="custom-select" [(ngModel)]="service.typePay" name="pagoSelect">
                <option *ngFor="let type of typePay | async" value="{{ type }}">{{type.tipo}}</option>
              </select>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary" (click)="createNewEntry()">Guardar</button>
        </div>
      </div>
    </div>
  </div>

  <!--'Generic Modal' END-->
  <!--Modal of 'Delete Entry'-->
  <div class="modal fade" id="deleteEntryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Eliminar cuenta</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ¿Estas seguro de que quieres eliminar la cuenta?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary">Eliminar</button>
        </div>
      </div>
    </div>
  </div>
  <!--'Delete Entry' END-->
</ion-content>
