page-cuentas-cobrar {
	table {
		margin: 0;
		border-collapse: collapse;
		width: 100%;
	}
	td, th {
	    border: 1px solid #dddddd;
	    text-align: left;
	    padding: 8px;
	    text-align: center;
	}
	tr:nth-child(even) {
    background-color: #dddddd;
	}
	#headerTable th {
		text-align: center;
		background-color: #000000;
		color: #ffffff;
	}
	.fade {
		background-color: rgba(0,0,0,0.8);
	}
	.form-control, .btn-secondary, .btn-primary {
		font-size: 15px;
	}
	img{
		width: 200px;

	}
	.headerContents{
		display: inline-block;
	}
}
