<!--
  Generated template for the ModalIncomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Nuevo Ingreso</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="ion-content">
  <ion-list>
    <ion-item>
      <ion-label  class="blackText">Fecha</ion-label>
      <ion-input type="date" [(ngModel)]="entry.date"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating class="blackText">Descripción</ion-label>
      <ion-input type="text" [(ngModel)]="entry.description"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating class="blackText">Recibo</ion-label>
      <ion-input type="text" [(ngModel)]="entry.whoGet"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating class="blackText">Total</ion-label>
      <ion-input type="number" [(ngModel)]="entry.total"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating class="blackText">Rubro</ion-label>
      <ion-input type="text" [(ngModel)]="entry.type"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating class="blackText" >Box</ion-label>
      <ion-select okText="Ok" cancelText="Cancelar"[(ngModel)]="entry.box">
        <ion-option *ngFor="let box of boxes | async" [value]="box.id">{{ box.id }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item class="ion-content">
      <ion-label floating class="blackText">Fee/Transferencia</ion-label>
      <ion-select class="blackText" [(ngModel)]="entry.typePay" okText="Ok" cancelText="Cancelar">
        <ion-option *ngFor="let type of typePay | async" [value]="type.name">{{type.name}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-buttons end>
    <button class="blackText" ion-button color="create" (click)="dismiss()">Cancelar</button>
    <button class="blackText" ion-button color="create" (click)="submitEntry()">Guardar</button>
  </ion-buttons>
</ion-content>
